.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #473879;
  padding: 15px;
  font-family: 'Red Hat Display', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-top: 2px solid #473879;
  position: relative;
  margin-top: auto !important;
}

  .footer-text {
    font-size: 16px;
  }
  
  .social-media {
    display: flex;
    gap: 20px;
    
  }
  
  .social-media a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .social-media a:hover {
    color: #ffdb88;
  }
  