.navbar-с {
  background-color: #473879;
  padding: 15px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #473879;
  display: flex; /* Используем flexbox для выравнивания */
  justify-content: space-between; /* Это распределяет пространство между логотипом и навигационными элементами */
  align-items: center; /* Вертикально выравниваем элементы */
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center; /* Центрируем ссылки навигации */
  flex-grow: 1; /* Заставляем блок с навигацией занимать все доступное пространство */
}

.nav-item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-item {
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.logo-item:hover {
  color: #ffdb88;
  background: none;
}

.italic-c {
  font-style: italic;
  color: #A39AD8;
}

.calendar-link:hover {
  color: #000000;
  background-color: #ffdb88;
  border: 5px solid #473879;
  padding: 12px 22px;
  border-radius: 0;
}
