.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.search-bar input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #473879;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.search-bar input:focus {
  border-color: #473879;
}
