.weather-widget {
  background: linear-gradient(135deg, #A39AD8, #473879);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 300px;
  min-height: 400px;
  margin: 0 auto 20px;
  font-size: 14px;
  text-align: center;
}

.weather-widget h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.weather-widget input {
  width: 90%;
  padding: 14px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  color: black;
}

.weather-widget button {
  background-color: #473879;
  color: white;
  padding: 14px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.weather-widget .weather-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-widget .weather-info {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.weather-widget .weather-icon {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.weather-error {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}