@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color-light: #A39AD8; 
  --text-color-light: #000000;
  --header-background-light: #ffffff;
  --button-background-light: #000000;
  --button-text-light: #ffffff;
}

[data-theme='dark'] {
  --background-color-dark: #000000;
  --text-color-dark: #000000;
  --header-background-dark: #333333;
  --button-text-dark: #000000;
}

[data-theme='dark'] body {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

[data-theme='dark'] header {
  background-color: var(--header-background-dark);
}

[data-theme='dark'] button {
  background-color: var(--button-background-dark);
  color: var(--button-text-dark);
}

[data-theme='dark'] .texture-container {
  display: none;
}

[data-theme='dark'] .text-black {
  color: white !important;
}

body, html {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 100%;
  text-align: center;
  display: flex;
}
 
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: white;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: -20px;
}

p {
  color: black;
  font-size: 40px;
}

.auth-buttons {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
  z-index: 1000;
}

.auth-buttons button {
  background-color: #473879;
  color: #ffffff;
  border-radius: 50px; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.auth-buttons button:hover {
  background-color: #ffffff;
  color: #473879;
}

.user-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1000;
}

.texture-container {
  position: fixed;
  width: 330px;
  height: auto;
  opacity: 0.8;
  z-index: 500;
  pointer-events: none;
}

.top-right {
  top: 0;
  right: 0;
  width: 350px;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.texture-image {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.theme-switcher {
  position: absolute;
  top: 100px;
  right: 230px;
  width: 30px;
  height: 30px;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  z-index: 1001;
  transition: background-color 0.3s ease;
}

.theme-switcher.light-theme {
  background-color: #000000;
  color: white;
}

.theme-switcher.dark-theme {
  background-color: #ffffff;
  color: black;
}

footer {
  z-index: 1001;
}


@media (max-width: 480px) {
  .auth-buttons {
    top: 8px;
    right: 8px;
    flex-direction: column;
    gap: 8px;
  }

  .auth-buttons button {
    font-size: 14px;
    padding: 8px 15px;
  }

  .theme-switcher {
    top: 1%;
    right: 90px;
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.8rem;
  }

  .texture-container {
    width: 250px;
    opacity: 0.7;
  }

  .user-button {
    width: 60px;
    height: 60px;
    top: 12px;
    right: 8px;
  }



  .footer .social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer .social-media a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .footer .social-media a:hover {
    color: #ffdb88;
  }
}

@media (min-width: 481px) and (max-width: 799px) {
  .auth-buttons {
    top: 10px;
    right: 10px;
    flex-direction: row;
    gap: 12px;
  }

  .auth-buttons button {
    font-size: 15px;
    padding: 10px 18px;
  }

  .theme-switcher {
    top: 1.5%;
    right: 150px;
    width: 35px;
    height: 35px;
    font-size: 20px;
   
  }

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2.5rem;
  }

  .texture-container {
    width: 300px;
    opacity: 0.8;
  }

  .logo-home {
    width: 110px;
    height: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .user-button {
    width: 70px;
    height: 70px;
    top: 16px;
    right: 16px;
  }


}

@media (min-width: 800px) and (max-width: 1399px) {
  .auth-buttons {
    top: 10px;
    right: 10px;
    flex-direction: row;
    gap: 12px;
  }

  .auth-buttons button {
    font-size: 15px;
    padding: 10px 18px;
  }

  .theme-switcher {
    top: 1.5%;
    right: 200px;
    width: 35px;
    height: 35px;
    font-size: 20px;
   
  }

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2.5rem;
  }

  .texture-container {
    width: 350px;
  }
}

@media (min-width: 1400px) {
  .auth-buttons {
    top: 40px;
    right: 40px;
    flex-direction: row;
    gap: 25px;
  }

  .auth-buttons button {
    font-size: 18px;
    padding: 15px 30px;
  }

  .theme-switcher {
    top: 1%;
    right: 320px;
    width: 35px;
    height: 35px;
    z-index: 1001;
  }

  h1 {
    font-size: 120px;
  }

  p {
    font-size: 60px;
  }

  .texture-container {
    width: 500px;
    opacity: 1;
  }

  .texture-image {
    width: 100%;
    height: auto;
  }

  .user-button {
    width: 110px;
    height: 110px;
    top: 1%;
    right: 32px;
  }
}

